DB_USER=scheduler_writer
DB_PASSWORD=password
DB_HOST=partridge.ts.alcachofa.faith
DB_PORT=5432
DB_NAME=scheduler
DB_SSLMODE=disable

# Octopus Energy API key (https://octopus.energy/dashboard/developer/)
OCTOPUS_API_KEY=your_octopus_api_key
